.checkout-wrapper {
    background-color: #f9f9f9;
}
.section {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}
.justify-content-center {
    justify-content: center !important;
}

.checkout-steps-form-style-1 .title {
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    border-radius: 4px 4px 0 0;
    padding: 8px 25px;
    color: #0167f3;
    background-color: #fff;
}

.checkout-steps-form-style-1 .checkout-steps-form-content {
    padding: 25px;
    padding-top: 0;
    border: 1px solid #e6e6e6;
    border-top-color: transparent;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.checkout-steps-form-style-1 #accordionExample li {
    margin-bottom: 20px;
}

.checkout-steps-form-style-1 .title:before {
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: lineicons;
    content: "\ea5e";
    font-size: 13px;
    color: #7d7d7d;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.checkout-steps-form-style-1 .single-form {
    margin-top: 16px;
    position: relative;
}

.checkout-steps-form-style-1 .form-default label {
    color: #888;
    margin-bottom: 8px;
}

.checkout-steps-form-style-1 .single-form .form-input textarea, .checkout-steps-form-style-1 .single-form .form-input input {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    border-radius: 4px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    border: 1px solid #e6e6e6;
}

.checkout-steps-form-style-1 .single-checkbox {
    margin-top: 15px;
}

.checkout-steps-form-style-1 .single-checkbox input[type=checkbox] {
    display: none;
}

.checkout-steps-form-style-1 .single-checkbox label {
    font-size: 16px;
    margin-bottom: 0;
    position: relative;
    bottom: -2px;
}

.checkout-steps-form-style-1 .single-checkbox p {
    display: inline;
    color: #777;
    padding-left: 5px;
}

.checkout-steps-form-style-1 .single-checkbox input[type=checkbox]+label span {
    border-color: #0167f3;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0 5px -3px 0;
    border: 1px solid #d5d5d5;
}

.checkout-steps-form-style-1 .single-checkbox input[type=checkbox]+label span::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    font-size: 10px;
    line-height: 1.2;
    background-color: #0167f3;
    font-family: lineicons;
    content: "\ea5b";
    padding-left: 4px;
    padding-top: 3px;
    border-radius: 4px;
}

.checkout-sidebar-coupon {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.checkout-sidebar-coupon p {
    font-size: 14px;
    line-height: 20px;
    color: #888;
    margin-bottom: 12px;
}
.checkout-sidebar-coupon .single-form {
    position: relative;
}
.checkout-sidebar-coupon input {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    border-radius: 4px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding-right: 120px;
}

.checkout-sidebar-coupon .single-form .button {
    position: absolute;
    right: 0;
    top: 0;
}
.checkout-sidebar-price-table {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.checkout-sidebar-price-table .title {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #081828;
    padding-bottom: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.checkout-sidebar-price-table .sub-total-price .total-price {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 0;
}

.checkout-sidebar-price-table .total-payable {
    padding: 8px 0;
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;
    margin-top: 10px;
}
.checkout-sidebar-price-table .price-table-btn {
    margin-top: 20px;
}

.checkout-sidebar-price-table .total-payable .payable-price {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.text-area-check {
    padding: 10px 10px !important;
}