.register-form {
    padding: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 40px #00000008;
    box-shadow: 0 5px 40px #00000008;
}

.register-form .title h3 {
    font-size: 22px;
    font-weight: 700;
    color: #081828;
    margin-bottom: 10px;
}
h3 {
    font-size: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
    color: #081828;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 24px;
}

.title p {
    margin: 1.2rem 0 !important;
}
