.featured-categories .single-category {
    padding: 3rem;
    margin-top: 40px;
    border: 2px solid #f0f0f0;
    position: relative;
    background: #fff;
    z-index: 0;
}

.featured-categories .single-category .heading {
    font-size: 17px;
    font-weight: 700;
    color: #081828;
}
.featured-categories .single-category ul li a {
    color: #666;
}
span, a {
    display: inline-block;
    text-decoration: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
}
.featured-categories .single-category ul li a:hover {
    color: rgb(40, 93, 207);
}
.featured-categories .single-category img {
    position: absolute;
    padding-top: 1rem 0 !important;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}