.lni-user {
    padding-right: .5rem;
}
.signout {
    color: white;
    cursor: pointer;
}

.signout:hover {
    color: rgb(50, 80, 0);
}

.logout-link {
    cursor: pointer;
}
.logout-link:hover {
    color: blue;
}
.cart-wish {
    margin-right: 1rem;
}